/* Styles for images within the gallery */
img.gallery-image {
  width: 100%; /* Make the images fill the container */
  max-width: 30%; /* Set max-width for smaller screens */
  margin: 5px; /* Add spacing between images */
}

/* Styles for additional images container */
.additional-images {
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Wrap images to the next line when they exceed container width */
  justify-content: center; /* Center align items horizontally */
}

/* Styles for fieldset */
fieldset {
  padding: 25px; /* Add padding */
  background-color: #001f3f; /* Dark blue background */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center align items horizontally */
  border: none; /* Remove fieldset border */
}

/* Styles for title */
.title {
  color: white; /* Set text color */
}

/* Styles for article */
article {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center align items horizontally */
}

/* Styles for main */
main {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center align items horizontally */
  border: 2px solid ; /* Add  border */
  background-color: #001f3f; /* Dark blue background */
}

/* Styles for sections */
section {
  display: flex; /* Use flexbox layout */
  justify-content: space-around; /* Distribute items evenly along the main axis */
  align-items: center; /* Center align items vertically */
  border: 2px solid ; /* Add border */
  width: 100%; /* Set width to 100% */
  padding: 10px; /* Add padding */
  margin: 5px; /* Add margin */
  background-color: #ffffff; /* White background */
}

/* Responsive design for sections */
section {
  margin: 5px; /* Add margin */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  width: 48%; /* Set width to 48% */
}

/* Styles for article */
article {
  grid-gap: 10px; /* Set gap between grid items */
}

/* Styles for article */
article {
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Wrap items to the next line when they exceed container width */
}

/* Styles for image container */
.image-container {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center align items horizontally */
  width: 100%; /* Ensure full width */
}
/* Styles for body */
body{
  background-color: #fedeca; /*  cream background */
}
/* Add this CSS to your existing CSS file */
article video {
  max-width: 20%;
  height: auto;
}
